.hero {
  background: linear-gradient(to bottom, #fff8ee 100%, #fbf1e5 70%, #fcf2e4 30%, #f5e9d9 0%);
  padding: 80px 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 40px;
  max-width: 1200px;
  width: 100%;
}

.hero-text {
  flex: 1;
  min-width: 300px;
}

.hero-text h1 {
  font-size: clamp(1.8rem, 4vw, 3rem);
  font-weight: 700;
  color: #0a3b35;
  margin-bottom: 20px;
}

.hero-text p {
  font-size: 1.1rem;
  color: #444;
  max-width: 420px;
  margin-bottom: 25px;
}

.accent {
  background-color: #fb9700;
  color: #fff;
  font-weight: 600;
  padding: 10px 25px;
  border-radius: 8px;
}

.hero-image {
  flex: 1;
  display: flex;
  justify-content: center;
}

.hero-image img {
  width: 100%;
  max-width: 380px;
  border-radius: 15px;
}

/* Cards Section */
.cards {
  background: #fdf8f4;
  padding: 60px 7%;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 25px;
}

mat-card {
  border-radius: 15px !important;
  box-shadow: 0 6px 16px rgba(26, 25, 25, 0.15);
  text-align: center;
  transition: all 0.3s ease;
  height: 100%;
}

mat-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

/* .imgbg {
  width: 100%;
  height: 190px;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
} */
.imgbg {
    padding: 20px;
    height: 75%;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 0;
    /* Ensure bottom corners are sharp for seamless transition to content */
    border-bottom-right-radius: 0;
}
::ng-deep .mat-mdc-card {
    background-color: #ffffff !important;
}
mat-card-title {
  margin-top: 12px;
  font-size: 1.1rem;
  color: #0a3b35;
}

mat-card-content {
  font-size: 0.95rem;
  color: #555;
  padding: 10px 15px 20px;
}

/* Mobile Centering */
@media (max-width: 768px) {
  .hero-container {
    flex-direction: column;
    text-align: center;
  }

  .hero-text p {
    margin-left: auto;
    margin-right: auto;
  }
}
